.sidebar {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color:#243FBE;
}

.sidebar a {
	display: inline-block;
	text-align: center;
	width: 15.63%;
	height: 50px;
	padding: .8em;
	box-sizing: border-box;
}

.sidebar a img {
    height: 20px;
}

.sidebar a.active {
    background-color: #5F88EB;
    border-bottom: 5px solid #EAECF2;
}

@media only screen and (min-width: 767px) {
	
	.sidebar {
		height: 60px;
	}

	.sidebar a {
		height: 60px;
		padding: 1.2em;
	}
}

@media only screen and (min-width: 1279px) {
	
	.sidebar {
		position: absolute;
		top: 0;
		width: 10.9375%;
		height: auto;
		padding-top: 80px;
	}

	.sidebar a {
		display: block;
		top: 0;
		width: 100%;
		height: 70px;
		padding: 1.5em;
	}
	
}
