.userinfo .table {
    margin-bottom: 10px;
    padding: 2em 1.5em;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

.userinfo .table header {
	display: inline-block;
	text-align: center;
    width: 33%;
    margin-bottom: .5em;
}

.userinfo .table header img {
	width: 42px;
	margin-bottom: .5em;
}

.userinfo .table header h4 {
	width: 93%;
}

.userinfo .table .data {
	float: right;
    width: 64.7%;
}

.userinfo .table .data h5 {
    font-size: 12px;
    font-weight: 400;
}

.userinfo .table .data ul {
	display: inline-block;
	width: 46%;
	margin-bottom: 1.2em;
	margin-left: .8em;
}

.userinfo .table .data ul:nth-last-child(even) {
    margin-left: 0;
}

.userinfo .table .data ul:nth-child(5),
.userinfo .table .data ul:nth-child(6) {
   margin-bottom: 0;
}

.userinfo .table .data ul:nth-child(4) li:last-of-type,
.userinfo .table .data ul:nth-child(5) li:last-of-type,
.userinfo .table .data ul:nth-child(6) li:last-of-type {
   color: #3C78FE;
   font-weight: 900;
}


.userinfo .table button {
	padding: .8em 2.2em;
	border-radius: 25px;
	border-style: none;
	font-weight: 600;
	background-color: #3C78FE;
	color: #EAECF2;
}

@media only screen and (min-width: 374px) {

    .userinfo .table {
        margin-bottom: 15px;
    }

    .userinfo .table header {
        width: 28%;
    }
}

@media only screen and (min-width: 767px) {

    .userinfo .table {
        padding: 2em;
    }

    .userinfo .table header img {
        margin-bottom: 1em;
    }

    .userinfo .table header {
        width: 37%;
        margin-bottom: 1em;
    }

    .userinfo .table header h4 {
        width: auto;
    }

    .userinfo .table .data {
        width: 50.7%;
    }
    
    .userinfo .table .data ul {
        font-size: 18px;
        margin-bottom: 1em;
        margin-left: 1em;
    }

    .userinfo .table button {
        margin: 0 6em;
    }

}

@media only screen and (min-width: 1279px) {

    .userinfo {
        margin-top: 6em;
    }

    .userinfo .table {
        height: 80px;
        padding: .65em 2em;
        box-sizing: border-box;
        overflow: visible;
    }
    
    .userinfo .table header {
        float: left;
        width: 25%;
        height: 42px;
        margin: .6em 0;
        text-align: left;
    }

    .userinfo .table header img {
        margin-bottom: 0;
        float: left;
    }

    .userinfo .table header h4 {
        display: inline-block;
        width: auto;
        margin: 1em;
    }
    
    .userinfo .table .data {
        float: none;
        display: inline-block;
        width: 65%;
    }    
    
    .userinfo .table .data ul {
        margin-bottom: 0;
        width: auto;
        margin-right: 2em;
        margin-left: 0;
    }
    
    .userinfo .table .data li:first-of-type {
        visibility: hidden;
    }

    .userinfo article:first-of-type .data ul li:first-of-type {
        position: relative;
        top: -3em;
        visibility: visible;
    }

    .userinfo .table .data li:last-of-type {
        height: 42px;
        padding: .4em 0;
        box-sizing: border-box;
    }

    .userinfo .table button {
        float: right;
        margin: .9em 0;
    }

}